.heading {
    position: relative;
    margin-bottom: 80px;

    &__main {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: $c-dark-1;
        position: relative;
        z-index: 1;
    }

    &__background {
        font-weight: 700;
        font-size: 80px;
        line-height: 80px;
        display: block;
        color: rgba($c-dark-1, 0.1);
        position: absolute;
        bottom: -7px;
        left: -4px;
        text-shadow: 0 5px 10px rgba($c-dark-1, 0.1);
        user-select: none;
    }
}
