.divider {
    @include rowStyles;
    margin-block: 100px;
    &__wrapper {
        background: linear-gradient(90deg, #fab464 0%, #ef874c 52.08%, #ffba68 100%);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 30px;
        width: 90%;
        margin: 0 auto;
        filter: drop-shadow(0px 4px 12px rgba(35, 35, 35, 0.25));
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;
    }

    &__text {
        font-size: 18px;
        line-height: 22px;
        color: $c-dark-1;

        span {
            font-weight: 700;
        }
    }

    .button {
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
